.highlightView {
    height: 100% !important;
    width: 100%
}

.viewContainer {
    padding: 0 !important;
    margin-bottom: 80px;
}

.imageArea {
    padding: 0 20px 20px;
}

.highlightMainContentRow {
    margin: 0 !important;
}

@media (min-width: 350px) {
    .productImage {
        width: 300px !important;
        height: 300px !important;
        padding: 0 !important;
        margin-right: auto;
    }
}

.productImage {
    width: 100%;
    padding: 50%
}

@media (min-width: 764px) {
    .productImage {
        width: 400px;
        height: 400px;
    }


}

.eventType {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    width: fit-content;
    gap: 5px;
    margin-bottom: 15px;
}

.textRgbAnimation {
    background-image: linear-gradient(to left, red, orangered, orange, yellow, yellowgreen, green, turquoise, lightblue, blue, blueviolet, violet, mediumvioletred, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: color-range 40s linear infinite
}

.highlightInformation {
    padding: 0 20px
}

#productPrice {
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    margin-right: auto;
    display: flex;
    padding: 3px 0
}

#productPrice > span {
    font-size: 10px;
    margin-left: 5px;
    font-style: oblique;
}

@media (min-width: 992px) {
    #productPrice {
        font-size: 30px;
        padding: 5px 10px
    }

    #productPrice > span {
        font-size: 15px;
    }
}

.contentArea > #highlightText {
    margin-top: 15px;
    width: fit-content;
}

.footerArea {
    min-height: 60px;
    padding: 5px
}

.dateUntilBox {
    width: fit-content;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.dateUntilBox > * {
    margin-bottom: 0;
}

.buttonSector {
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}

.buttonSector > div > button {
    width: fit-content;
    height: 50px;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    border-radius: 6px;
}

.buttonSector > button:focus {
    outline: none;
}

@keyframes color-range {
    to {
        background-position: 200vh;
    }
}

@media (min-width: 992px) {
    .highlightView {
        height: 100%;
    }

    .footerArea {
        padding: 5px;
        min-height: 60px;
    }
}

