.highlightView {
    height: 100%;
}


.imageArea {
    padding: 0 20px 20px 0;
}

.productImage {
    width: 100%;
    height: fit-content;
}

.eventType {
    display: flex;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    align-items: center;
    height: 40px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 40px;
    width: 200px;
    padding-left: 5px;
    gap: 5px
}

.textRgbAnimation {
    background-image: linear-gradient(to left, red, orangered, orange, yellow, yellowgreen, green, turquoise, lightblue, blue, blueviolet, violet, mediumvioletred, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: color-range 40s linear infinite
}

.contentArea {
    padding: 60px 20px 20px;
}

.contentArea > h1 {
    margin-bottom: 15px;
    width: fit-content;
}

.contentArea > #productPrice {
    font-size: 30px;
    font-weight: bold;
    width: fit-content;
    display: flex;
    padding: 5px 0
}

#productPrice > span {
    font-size: 15px;
    margin-left: 5px;
    font-style: oblique;
}

.contentArea > #highlightText {
    margin-top: 15px;
    width: fit-content;
}

.footerArea > div > div {
    margin-top: 30px !important;
}

.dateUntilBox {
    margin-top: auto;
    margin-right: auto;
    width: auto;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 25px;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

.buttonSector {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: right;
    padding: 0 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 15px;
    width: auto;
    margin-left: auto;
}

.buttonSector > button {
    width: auto;
    height: 50px;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    border-radius: 6px;
}

.buttonSector > button:focus {
    outline: none;
}

@keyframes color-range {
    to {
        background-position: 200vh;
    }
}