.container {
    width: 100%
}

.tabWrapper {
    background: #4F2A59;
    max-width: 1200px;
    overflow-x: scroll;
}

.nav {
    list-style-type: none;
    display: flex;
    gap: 10px
}

.nav li {
    width: 150px
}

.navElement:hover {

}

.activeNavElement {

}

.mainTitle, .currentPageTitle {

}

.mainTitle {

}

.currentPageTitle {
    font-size: 30px;
}

@media (max-width: 1500px) {
}