.navBarWrapper > .hideSubNavShopBy {
    display: none
}

.navbar {
    background: #14318C;
    height: 50px;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.navbarLinks {
    display: none
}

.iconBtn {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #D707F1;
    border: none
}

.hamBtn {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
}

.offcanvasBtn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}

.logo {
    display: none
}

.navLink {
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.subNavShopBy {
    display: none
}

.caretDown {
    margin-left: 5px
}

.iconBtnGroup {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    gap: 4px;
}

.iconBtn:hover {
    background-color: #9305A7;
    cursor: pointer;
}

.navOffcanvas {
    background-color: #14318C;
    width: 300px;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px
}

.navOffcanvasHeader {
    display: flex;
    justify-content: space-between;
}

.navOffcanvasSeparator {
    height: 1px;
    background-color: #8DF3E8;
    width: 100%;
    border-radius: 1px;
}

.subNavOffcanvas {
    height: auto;
    display: grid;
    grid-template-rows: repeat(3, 50px);
    gap: 5px
}

.offcanvasShopByOptions {
    text-decoration: none;
    color: white;
    background-image: url("https://via.placeholder.com/100x300");
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subNavOffcanvas:last-child {
    font-size: 15px;
}

.hideSubNavOffcanvas {
    display: none
}

@media (max-width: 436px) {
    .iconBtnGroupInOffcanvas {
        position: absolute;
        z-index: 60;
        right: 5px
    }

    .navOffcanvas {
        padding-top: 45px;
    }
}

@media (min-width: 500px) {

    .navbar {
        height: 75px
    }

    .iconBtnGroup {
        padding: 0 5%;
        align-items: center;
        gap: 8px
    }

    .iconBtn {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
}

@media (min-width: 850px) {

    .navBarWrapper {
        display: grid;
    }

    .navbar {
        display: grid;
        grid-template-columns: 150px auto 200px;
    }

    .subNavShopBy {
        max-height: 100px;
        width: 100%;
        background-color: #14318C;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 75px;
        z-index: 10;
        transition: 0.5s ease-in;
    }

    .shopByOptions {
        font-family: Arial, sans-serif;
        text-decoration: none;
        font-size: 20px;
        color: white;
        width: 33.3%;
        display: flex;
        justify-content: center;
        padding: 40px 0;
        background-image: url("https://via.placeholder.com/100x300");
    }

    .hideSubNavShopBy {
        display: none;
    }

    .navbarLinks {
        display: flex;
        gap: 5%;
        justify-content: flex-start;
        padding-left: 30px;
        align-items: center;
    }

    .logo {
        display: block;
    }

    .logoMobile {
        display: none
    }

    .logoImage:hover {
        cursor: pointer;
    }



    .hamBtn {
        display: none
    }

    .faIcon {
        width: 40px
    }

    .navOffcanvas {
        display: none
    }

}

