.highlightEditor {
    width: 100%;
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: auto 550px 75px;
    gap: 20px;
}

.highlightPreview {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    padding: 30px
}

.highlightEditorForm {
    width: 400px;
    height: 550px;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    border: solid 2px #8DF3E8;
    border-radius: 5px;
    padding: 15px;
}

.highlightEditorFormInputs::-webkit-scrollbar {
    display: none;
}

.highlightEditorFormInputs {
    overflow: scroll;
    height: 525px;
    display: grid;
    gap: 5px
}

.preferencePanel {
    background: #14318C;
    grid-row: 3 / 3;
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    color: white;
    font-family: "Nunito", sans-serif;
}

.editorSettings {
    display: flex;
    gap: 10px;
    align-items: center;
}

.buttonGroup {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    gap: 10px
}

.textAreaField {
    min-height: 150px;
    width: 100%;
    resize: none;
    font-family: Courier, sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-size: 15px;
    background: transparent;
    border: solid 2px white;
    border-radius: 4px;
    padding: 5px
}
.textAreaField:focus, .colorOpacityRange:focus {
    outline: none
}

.colorPickerInput, .multiInputsLine {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.multiInputsLine {
    margin-bottom: 10px;
}

.colorOpacityRange {
    width: 100%;
    border: solid 2px #FFFFFF;
    height: 30px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 6px;
    background: transparent;
}

.colorOpacityRange[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border-radius: 4px;
}

.colorOpacityRange[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: solid 2px #000000;
    border-radius: 4px;
    height: 28px;
    width: 10px;
    background: #FFFFFF;
}

.dialog {
    width: 100%;
    height: 100vh;
    background: rgba(20, 49, 140, 0.32);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog > div {
    background: #060525;
    border: solid 2px #8DF3E8;
    border-radius: 6px;
    padding: 20px
}

.saveAsDraftDialog {
    width: 400px;
    display: grid;
    row-gap: 10px;
}

.saveAsDraftDialog > div {
    margin-top: 10px
}