.container {
    border-radius: 15px;
    height: 100%;
    display: grid;
    grid-template-rows: 85% 15%;
    grid-template-columns: 400px auto;
    padding: 20px
}

.imageArea {

}

.contentArea {

}

.footerArea {
    grid-column: 1 / span 2;
}