.container {
    background: #060525;
    width: 500px;
    height: 600px;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 2px #8DF3E8;
}

.dialogTitle {
    font-family: Nunito, sans-serif;
    padding: 0 !important;
    border: none !important;
}

.imageCollections::-webkit-scrollbar {
    display: none;
    width: 0
}

.imageObj {
    width: 100%;
}

.imageObj > p {
    visibility: hidden;
    font-size: 15px;
    align-self: flex-end;
    background: #060525;
    width: 100%;
    text-align: center;
}

.imageObj:hover {
    cursor: pointer;
    border: solid 3px #8DF3E8;
}

.imageObj:hover > p {
    visibility: visible;
}