.wrapper {
    display: grid;
    gap: 15px;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}

.title {

    font-size: 30px;
    color: #8DF3E8;
}

.information {
    font-size: 20px;
}

.accordionTblActions {
    background: #14318C;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px
}

.accordionTblActions > .filterGroup {
    display: flex;
    gap: 30px
}

.filterInput {
    height: 40px;
    background: none;
    border: none;
    border-bottom: solid 2px #FFFFFF;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 10px;
}

.dropDownFilter {
    background: transparent;
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    appearance: none;
}

.dropDownFilter > option {
    background: #060525;
}

.filterInput:focus {
    outline: none
}

.addBtn {
    height: 40px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 0 10px;
    background: transparent;
    border: none;
}

.accordionContainer {
    width: 100%;
}

.accordionItem {
    font-size: 20px;
    margin-bottom: 4px;
}

.accordionHeader {
    height: 50px;
    background: #14318C;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordionPanel {
    padding: 10px 0 30px;
}

.accordionPanel > div {
    display: grid;
    grid-template-columns: 350px auto 200px;
}

.productSpecs {
    margin-top: 15px
}

.productSpecs > tr > td {
    width: 200px
}

.varietyList {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 15px
}

.varietyName {
    background: #8DF3E8;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.dialogProductForm {
    width: 80%;
    height: 500px;
    overflow: auto;
    padding: 15px;
    border: solid 2px #8DF3E8;
    border-radius: 6px;
    background: #060525;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -40%;
}

.dialogProductForm::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px
}

.dialogProductForm::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

.dialogProductForm::-webkit-scrollbar-thumb {
    background-color: #8DF3E8;
    border-radius: 2px;
    border: solid 2px transparent;
}