* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    width: 100%;
}

h3 {
    font-size: 25px;
    color: #8DF3E8;
    font-family: "Nunito", sans-serif;
}

.page {
    background: linear-gradient(to bottom, #332A59, #000000);
    min-height: calc(100vh - 75px);
}



