@font-face {
  font-family: 'HKModular-Bold.983580fd602872378cf332fc1.85bb75c5cbd14f2827b114e5b050205d';
  src: url('HKModular-Bold.983580fd602872378cf332fc1.85bb75c5cbd14f2827b114e5b050205d.eot');
  src: url('HKModular-Bold.983580fd602872378cf332fc1.85bb75c5cbd14f2827b114e5b050205d.eot?#iefix') format('embedded-opentype'),
       url('HKModular-Bold.983580fd602872378cf332fc1.85bb75c5cbd14f2827b114e5b050205d.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKModular-Bold';
  src: url('HKModular-Bold.svg#HKModular-Bold') format('svg'),
       url('HKModular-Bold.ttf') format('truetype'),
       url('HKModular-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

