.adminWrapper {
    padding: 30px;
    display: grid;
    gap: 15px
}

.adminPageTitle {
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: #8DF3E8;
}

.leaveBtn {
    width: 400px;
}

.faRightToBracket {
    transform: scale(-1, 1);
    margin-right: 10px
}

.tabBar {
    width: 100%;
    height: 50px;
    display: flex;
    background: #060525;
    list-style-type: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    justify-content: space-between;
    color: #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
}

.tab {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none
}

.selectedTab {
    background: #14318C;
}

.tab:hover {
    cursor: pointer;
}

.tabPanel {
    padding: 15px 0;
}
