.wrapper {
    display: grid;
    gap: 15px
}

.title {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #8DF3E8;
}

.information {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.filterInput {
    width: 50%;
    height: 40px;
    background: none;
    border: none;
    border-bottom: solid 2px #FFFFFF;
    margin-top: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 10px;
}

.filterInput:focus {
    outline: none;
}

.tableAction {
    display: flex;
    justify-content: right;
}

.addBtn {
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 0 10px;
    background: transparent;
    border: none;
}

.editBtn {
    background: transparent;
    border: none;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.editBtn:focus, .addBtn:focus {
    outline: none;
}

.editBtn:hover, .addBtn:hover {
    cursor: pointer;
}

.formModal {
    width: 600px;
    padding: 10px;
    position: absolute;
    z-index: 9999;
    top: 10px;
    left: 50%;
    margin-left: -300px;
    background: #060525;
    border: solid 2px #8DF3E8;
    border-radius: 6px
}