@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); /* Imports */
@font-face {
    font-family: "HKModular-Bold";
    src: url("https://font-public.canva.com/YAD5jdnkFxc/0/HKModular-Bold.983580fd602872378cf332fc1.85bb75c5cbd14f2827b114e5b050205d.woff2") format("woff");
    font-weight: bold;
}

.getHKModular {
    font-family: HKModular-Bold, sans-serif;
    font-size: 30px;
}

/* TODO fix ttf, converter from https://onlinefontconverter.com/ */

/*Page Config*/

.page {
    padding: 30px 10px
}

@media (min-width: 992px) {
    .page {
        padding: 30px 140px
    }
}

@media (min-width: 1600px) {
    .page {
        width: 1600px;
        margin: auto;
    }
}

.pageTitle {
    color: #8DF3E8;
    font-size: 20px;
    font-family: 'HKModular-Bold', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.pageSubtitle {
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    color: #8DF3E8;
}

.adminPageWrapper {
    padding: 30px;
    gap: 15px !important;
    font-family: "Nunito", sans-serif;
    color: white
}

.pageContentGap15 > div:not(:first-child) {
    margin-top: 15px !important;
}

/*Lagout & Margins*/

.margin0Bottom {
    margin-bottom: 0 !important;
}

.margin10Bottom {
    margin-bottom: 10px !important;
}

.margin24Bottom {
    margin-bottom: 24px !important;
}

.margin30Bottom {
    margin-bottom: 30px !important;
}

.disableColumnPaddings {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.disableColumnPaddingLeft {
    padding-left: 0 !important;
}

.disableColumnPaddingRight {
    padding-right: 0 !important;
}

.alignmentCenter {
    display: flex !important;
    align-items: center !important;
}

/*Forms*/

.formGroup {
    display: grid;
    grid-gap: 8px;
    margin-bottom: 20px;
}

.formGroupHorizontal, .flexHorizontal {
    display: flex !important;
    gap: 10px;
    align-items: center !important;
}

.formGroupHorizontal > .paragraphs {
    margin-bottom: 0 !important;
}

.formGroupSmall {
    display: grid;
    grid-gap: 5px;
    margin-bottom: 10px
}

.formTitle {
    color: white;
    font-size: 30px;
    font-family: "Nunito", sans-serif;
    margin-bottom: 20px
}

.formSubtitle {
    font-size: 20px;
    color: #FFFFFF;
    font-family: Nunito, sans-serif;
    margin-bottom: 5px;
}

.formSeparatorLine {
    width: auto;
    margin-bottom: 30px;
    background-color: #8DF3E8;
    height: 2px;
}

.formSubtitleSeparatorLine {
    width: auto;
    margin-bottom: 10px;
    border-bottom: solid 2px #FFFFFF;
}

.formInputField {
    width: auto;
    height: 50px;
    background: rgba(13, 13, 13, 50%) !important;
    border: solid 2px #D9D9D9 !important;
    border-radius: 6px !important;
    padding: 10px;
    color: white !important;
    font-size: 20px !important;
    box-shadow: none !important;
    appearance: menulist-button;
}

.formTextfield {
    height: 150px !important;
}

.formInputField::-webkit-input-placeholder, .formInputFieldSmall::-webkit-input-placeholder {
    color: #D9D9D9;
    font-style: italic;
    font-family: Nunito, sans-serif;
}

.formInputFieldSmall {
    height: 30px !important;
    width: 100% !important;
    padding: 0 0 0 5px !important;
    background: rgba(13, 13, 13, 50%) !important;
    border: solid 2px #D9D9D9 !important;
    border-radius: 4px !important;
    font-size: 15px;
    color: #FFFFFF !important;
    appearance: menulist-button;
}

.formInputField > option, .formInputFieldSmall > option {
    color: #FFFFFF;
    background-color: #6D49A7;
}

.formInputField[type=date],
.formInputField[type=datetime-local],
.formInputFieldSmall[type=date],
.formInputFieldSmall[type=datetime-local]{
    font-family: "Nunito", sans-serif;
}

.formInputField[type=date]::-webkit-calendar-picker-indicator,
.formInputField[type=datetime-local]::-webkit-calendar-picker-indicator,
.formInputFieldSmall[type=date]::-webkit-calendar-picker-indicator,
.formInputFieldSmall[type=datetime-local]::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

.formInputField:focus, .formInputFieldSmall:focus {
    outline: none !important;
    border: solid 2px #FFFFFF !important;
    box-shadow: none !important;
}

.formColorPicker:focus, .dropDownFilter:focus {
    outline: none;
    box-shadow: none !important;
}

.formInputError {
    border-color: #EB3E7A !important;
}

.formColorPicker {
    padding: 0;
    min-width: 30px !important;
    min-height: 34px !important;
    background-color: transparent !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    cursor: pointer !important;
    outline: none !important;
    border: none !important;
}

.formColorPicker > input {
    padding: 0 !important;
}

.formColorPicker::-webkit-color-swatch {
    padding: 0 !important;
    border-radius: 5px !important;
    border: none !important;
}

.formColorPicker:focus {
    border: none
}

.formCheckbox {
    font-size: 20px !important;
}

.formCheckbox > input {
    border-radius: 6px !important;
}

.formCheckbox > input:focus {
    box-shadow: none !important;
    border: none !important;
}

.formCheckbox > input:checked {
    background-color: #D707F1;
}

.formInputRange {
    height: 30px
}

.formLabel {
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    margin-bottom: 0 !important;
}

.formLabelSmall {
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.formSubLabelSmall {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 15px;

}

.formLabelNotice {
    font-size: 10px;
}

.formLabel > a {
    color: #8DF3E8;
    text-decoration: underline;
}

.formGroup > p, .formGroupSmall > p {
    color: #EB3E7A;
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    margin-bottom: 0
}

/*Buttons*/

.buttonFilled {
    background: linear-gradient(to right, #EB3E7A, #764DE8);
    color: #FFFFFF;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 20px;
}

.buttonSm {
    height: 30px;
    font-size: 15px;
    font-family: Nunito, sans-serif;
}

.buttonRed {
    background: #cc0000;
    border-color: #cc0000;
    color: #FFFFFF;
}

.buttonGreen {
    background: #6aa84f;
    border-color: #6aa84f;
    color: #FFFFFF;
}

.buttonTransparent {
    background: transparent;
    color: #8DF3E8;
}

.defaultTransparentButton {
    width: auto;
    height: 50px;
    border: solid #FFFFFF 2px;
    border-radius: 6px;
    padding: 0 15px;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.buttonFilled:hover {
    cursor: pointer;
}

.buttonFilledAutoWidth {
    width: auto;
    padding: 0 15px;
}

.formBtnGroup {
    display: flex;
    gap: 15px;
    justify-content: end;
}

/*Actions on Table for Filter and Create etc*/

.filterActionBar {
    background: rgba(255, 255, 255, 15%);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 6px;
}

.filterActionBar > .filterGroup {
    display: flex;
    gap: 30px
}

.filterInputField {
    height: 40px;
    background: none !important;
    border: none !important;
    border-bottom: solid 2px #FFFFFF !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
    font-family: Nunito, sans-serif;
    font-size: 20px !important;
    color: #FFFFFF !important;
}

.filterInputField:focus {
    box-shadow: none !important;
    background: none !important;
}

.filterInputField::-webkit-input-placeholder {
    font-size: 20px;
}

.dropDownFilter {
    background: transparent !important;
    width: 100px !important;
    height: 40px !important;
    border: none !important;
    font-family: "Nunito", sans-serif;
    font-size: 20px !important;
    color: #FFFFFF !important;
    appearance: menulist-button;
}

.dropDownFilter > option {
    background: #060525;
}

.createBtn {
    height: 40px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 0 10px;
    background: transparent;
    border: none;
}

.createBtn:hover {
    cursor: pointer;
}

/* Default Accordion Settings*/

.accordionContainer {
    width: 100%;
    background: none;
}

.accordionItem {
    border: none !important;
}

.accordionItem, .accordionItem > div, .accordionItem > h2 > button {
    font-size: 20px !important;
    margin-bottom: 4px;
    color: white !important;
    background: none !important;
}

.accordionHeader {
    height: 50px !important;
    background: rgba(255, 255, 255, 9%) !important;
    border-radius: 6px;
}

.accordionHeaderTransparent {
    background: transparent !important;
}

.accordionHeader > button {
    width: 100%;
    padding: 0 10px !important;
    height: 50px !important;
}

.accordionHeader > button:focus {
    box-shadow: none !important;
    border: none !important;
}

.accordionBody {
    padding: 10px 0 !important;
    background: transparent !important;
}

/* Default Table Settings*/

.tableContainer {
    color: white;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    width: 100%;
    border-collapse: collapse;
}

.tableHeader > tr {
    height: fit-content !important;
    background: rgba(255, 255, 255, 15%);
    color: #FFFFFF;
}

.tableHeader > tr > th:first-child {
    border-top-left-radius: 6px !important;
}

.tableHeader > tr > th:last-child {
    border-top-right-radius: 6px !important;
}

.tableHeader > tr > th, .tableBody > tr > td {
    padding: 10px 15px !important;
}

.tableBody > tr {
    background: rgba(255, 255, 255, 9%);
    color: #FFFFFF;
    height: 50px !important;
}

.tableBody > tr > td {
    height: 50px !important;
}

.tableBody > tr:last-child {
    border-bottom-color:transparent !important;
}

.tableBody > tr:last-child > td:first-child {
    border-bottom-left-radius: 6px;
}

.tableBody > tr:last-child > td:last-child {
    border-bottom-right-radius: 6px;
}

.tableRowActions {
    display: flex;
    justify-content: right;
    max-width: fit-content;
    margin-left: auto;
    gap: 10px
}

.tblRowBtn {
    background: transparent;
    border: none;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.hideElement {
    display: none
}

@media (min-width: 850px) {
    .pageTitle {
        font-size: 40px;
        margin-bottom: 60px;
    }
}

.test {
    font-family: Broadway, sans-serif;
}