@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); /* Imports */
@font-face {
    font-family: "HKModular-Bold";
    src: url("https://font-public.canva.com/YAD5jdnkFxc/0/HKModular-Bold.983580fd602872378cf332fc1.85bb75c5cbd14f2827b114e5b050205d.woff2") format("woff");
    font-weight: bold;
}

/* TODO fix ttf, converter from https://onlinefontconverter.com/ */



.pageTitle {
    color: #8DF3E8;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.pageSubtitle {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    color: #8DF3E8;
    margin-bottom: 28px;

}

.formGroup {
    display: grid;
    grid-gap: 8px;
    margin-bottom: 20px;
}

.formTitle {
    color: white;
    font-size: 30px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px
}

.formSeparatorLine {
    width: auto;
    height: 2px;
    background-color: #8DF3E8;
    margin-bottom: 30px;
}

.formInputField {
    width: auto;
    height: 50px;
    background: transparent;
    border: solid white 2px;
    border-radius: 6px;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.formInputFieldSmall {
    height: 30px;
    padding: 5px
}

.formInputField > option {
    color: #FFFFFF;
    background-color: #060525;
}

.formInputField[type=date], .formInputField[type=datetime-local] {
    font-family: Arial, sans-serif;
}

.formInputField[type=date]::-webkit-calendar-picker-indicator,
.formInputField[type=datetime-local]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.formInputField:focus {
    outline: none
}

.formColorPicker {
    width: 80px;
    padding: 0 2px;
}

.formCheckbox {
    width: 25px;
    height: 25px;
    border-radius: 6px;
}

.formCheckbox:checked {
    accent-color: #8DF3E8;
}

.formLabel {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.formLabelNotice {
    font-size: 10px;
}

.formLabel > a {
    color: #8DF3E8;
    text-decoration: underline;
}

.formGroup > p {
    color: #D707F1;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

.buttonFilled {
    background-color: #8DF3E8;
    height: 50px;
    width: 100%;
    border: solid #8DF3E8 2px;
    border-radius: 6px;
    font-size: 20px;
}

.buttonSm {
    height: 30px;
    font-size: 15px;
}

.buttonRed {
    background: #cc0000;
    border-color: #cc0000;
    color: #FFFFFF;
}

.buttonGreen {
    background: #6aa84f;
    border-color: #6aa84f;
    color: #FFFFFF;
}

.buttonTransparent {
    background: transparent;
    color: #8DF3E8;
}

.defaultTransparentButton {
    width: auto;
    border: solid #FFFFFF 2px;
    border-radius: 6px;
    padding: 0 15px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.buttonFilled:hover {
    cursor: pointer;
}

.buttonFilledAutoWidth {
    width: auto;
    padding: 0 15px;
}

.tableContainer {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    border-collapse: collapse;
}

.tableHeader {
    background: #14318C;
}

.tableHeader > tr {
    height: 50px
}

.tableHeader > tr > th {
    text-align: left;
}

.tableHeader > tr > th, .tableBody > tr > td {
    padding: 0 15px;
}

.tableBody > tr {
    background: #060525;
    border-bottom: solid 1px #FFFFFF;
}

.tableBody > tr > td {
    height: 50px;
}

@media (min-width: 850px) {
    .pageTitle {
        font-size: 60px;
        margin-bottom: 60px;
    }
}