#highlightManagementPageLayout > div:not(:first-child) {
    margin-top: 10px;
}

.addBtn {
    height: 40px;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    color: #FFFFFF;
    padding: 0 10px;
    background: transparent;
    border: none;
    margin-left: auto;
}

.addBtnFloat {
    position: absolute;
    z-index: 999;
    float: end;
    bottom: 10%;
    right: 10%;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(to right, #EB3E7A, #3C306D);
    border: none
}

.accordionHeadingContent {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.accordionHeadingContent > p, .accordionHeadingContent > div > p {
    margin-bottom: 0 !important;
}

.draftHighlightText {
    height: 30px;
    background: #8DF3E8;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 4px
}

.highlightInformation {
    text-align: left;
}

.highlightInformation > tr > td {
    padding-left: 30px
}

.buttonSection {
    padding-right: 0 !important;
}

.buttonSection div, .buttonSection button {
    margin-bottom: 5px;
}

.buttonGroup {
    display: flex;
    gap: 5px
}

.dialog {
    width: 100%;
    height: 100vh;
    background: rgba(20, 49, 140, 0.32);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlightCloneForm {
    width: 500px;
    height: 80%
}

.highlightView {
    width: 80%;
    height: 80%;
}

.closeDialogBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    background: transparent;
    color: #FFFFFF;
    outline: none;
    border: none
}

@media (max-width: 768px) {
    .addBtnCol {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .addBtnFloat {
        display: none;
    }
}