.tableHeader {
    padding: 0 10px;
    background: #14318C;
    height: 50px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: space-between;
}

.filterActions {
    display: flex;
    font-size: 20px;
    gap: 15px;
    height: 40px;
    align-items: center;
}

.dropdownFilter {
    background: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    color: #FFFFFF;
}

.dropdownFilter > option {
    background: #060525;
}

.addBtn {
    height: 40px;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    color: #FFFFFF;
    padding: 0 10px;
    background: transparent;
    border: none;
}

.accordionContainer {
    width: 100%;
}

.accordionItem {
    font-size: 20px;
    color: white;
    margin-bottom: 4px;
}

.accordionItemHeading {
    background: #14318C;
    padding: 0 10px
}

.accordionItemButton, .accordionItemButton div {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordionItemButton div {
    gap: 10px
}

.accordionItemButton:focus {
    outline: none;
}

.draftHighlightText {
    height: 30px;
    background: #8DF3E8;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 4px
}

.accordionPanel {
    padding: 10px;
    display: grid;
    grid-template-columns: auto 200px;
}

.accordionPanel > div > h3 {
    margin-bottom: 15px
}

.highlightInformation {
    text-align: left;
}

.highlightInformation > tr > td {
    padding-left: 30px
}

.buttonSection div, .buttonSection button {
    margin-bottom: 5px;
}

.buttonGroup {
    display: flex;
    gap: 5px
}

.dialog {
    width: 100%;
    height: 100vh;
    background: rgba(20, 49, 140, 0.32);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlightCloneForm {
    width: 500px;
    height: 80%
}

.highlightView {
    width: 80%;
    height: 80%;
}

.closeDialogBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    background: transparent;
    color: #FFFFFF;
    outline: none;
    border: none
}