.imagePreview {
    width: 100%;
    height: 100vh;
    background: rgba(20, 49, 140, 0.32);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButtonImagePreview {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    background: transparent;
    color: #FFFFFF;
    outline: none;
    border: none
}
