.loginPage {
    padding: 60px 120px;
}

.tabButton {
    width: 100%;
    background: transparent;
    border: none;
    height: 50px;
    color: #FFFFFF;
    font-family: Nunito, sans-serif;
    font-size: 20px;
}

.activeButton {
    background: rgba(255, 255, 255, 9%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media (max-width: 1164px) {
    .loginPage {
        padding: 30px 30px
    }
}

@media (min-width: 992px) {
    .tab {
        display: none;
    }
}

@media (max-width: 992px) {
    .notCurrentForm {
        display: none;
    }
}