.page {
    padding: 90px 140px;
}

.imagesList {
    background: rgba(255, 255, 255, 9%);
    width: fit-content;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.imageItem {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: #FFFFFF;
    background-size: cover;
}

.actualImage {
    background: #FFFFFF;
}

.productImage {
    min-width: 100%;
    padding: 50% !important;
    box-sizing: border-box;
    background-size: cover;
}

.productInformation {
    font-size: 20px;
    font-family: Nunito, sans-serif;
    color: #FFFFFF;
    height: fit-content !important;
}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.productServings {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
    width: fit-content;
    margin-bottom: 0;
}

.productPriceBox {
    padding: 5px 0;
    width: fit-content;
    display: flex;
    gap: 20px;
    align-items: center;

}

.productPriceBox > p:last-child {
    font-style: italic;
}

.productPriceSign {
    font-size: 30px;
    color: #EB3E7A;
    display: flex;
    margin-bottom: 0 !important;
    align-items: center;
}

.productPriceSign > p {
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-bottom: 0;
    font-style: italic;
}

.descriptionArea {
    font-family: Nunito, sans-serif;
    color: #FFFFFF;
    height: 100%;
    overflow: auto;
}

.descriptionArea::-webkit-scrollbar {
    display: none
}

.addToCartContainer {
    margin-top: auto !important;
}

.addToCart {
    display: flex;
    justify-content: space-between;
    margin-top: 10px
}

.quantityToCart {
    display: flex;
    gap: 15px;
    align-items: center;
    color: #FFFFFF;
    font-size: 25px;
}

.productQuantityButton {
    outline: none;
    width: 30px;
    height: 30px;
    background: #7C4296;
    border: solid 2px #FFFFFF;
    border-radius: 50%;
}

.emptyReviewText {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    margin: 20px 0 0 !important;
}

.reviewList > div:last-child .reviewSubline {
    display: none;
}

.reviewSubline {
    width: 100%;
    border: solid #D707F1 1px;
    margin: 90px 0
}

@media (min-width: 576px) {
    .productProperties {
        height: auto !important;
    }

    .imagesList {
        flex-direction: column;
        height: fit-content;
        width: 100px;
        margin: 0;
    }

    .imageItem {
        width: 80px;
        height: 80px
    }


}

@media (max-width: 768px) {
    .productNameRow {
        margin-top: 24px;
    }


}

@media (min-width: 992px) {



}



@media (min-height: 1200px) {
    .productProperties {

    }
}

@media (max-width: 1200px) {

}