.page {
    padding: 30px
}

.cartListHeader {
    background: #3C306D;
    border-radius: 6px;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: "Nunito", sans-serif;
}

.cartListElement {
    width: 100%;
    background: rgba(255, 255, 255, 9%);
    border-radius: 6px;
}

.articleCol {
    display: flex;
    gap: 10px;
}

.listStack > div {
    margin-top: 10px;
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
}

.alignmentBottom {
    display: flex !important;
    align-items: end !important;
    padding: 10px
}

.quantityGroup {
    display: flex;
    gap: 10px;
    align-items: center;
}

.quantityGroup > p {
    margin-bottom: 0;
}

.amountButton {
    width: 30px;
    height: 30px;
    background: #7C4296;
    border: solid #FFFFFF 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeButton {
    width: 100%;
    height: 50px;
    border: none;
    display: flex;
    gap: 15px;
    align-items: center;
    background: transparent;
    justify-content: center;
    color: #FFFFFF;
    transition: 0.1s ease-in-out;
}

.clearButton {
    width: auto !important;
    background: transparent !important;
    color: rgba(255, 255, 255, 80%);
    border: none;
    font-family: Nunito, sans-serif;
    margin-top: 15px;
    margin-right: auto;
}

.informationCheckoutContainer {
    background: #3C306D;
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    padding: 15px;
    border-radius: 6px;
}

.informationCheckoutContainer > hr {
    margin: 0 0 10px
}

.removeButton:hover {
    background: rgba(255, 255, 255, 9%);
    border-radius: 6px;
}

@media (max-width: 768px) {
    .cartListHeader {
        display: none;
    }

    .cardListElement {
        height: 100px;
    }

    .rowSpace > div > div:not(:first-child) {
        margin-top: 10px;
    }

    .articleCol {
        padding-top: 10px
    }

    .productImage {
        width: 100%
    }

    .productPrice {
        display: block !important;
    }

    .productPriceTotal {
        display: none !important;
    }

    .cartListElement {
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) {

    .articleCol {
        padding-top: 0;
        padding-left: 0 !important;
    }

    .productImage {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .productName {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .productName > p {
        margin-bottom: 0;
    }

    .productPrice, .productQuantity {
        display: none;
    }

    .alignmentCenter {
        display: flex !important;
        align-items: center !important;
    }
}

@media (min-width: 576px) {
    .productImage {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 576px) {
    .articleCol {
        padding-right: 0 !important;
    }

    .productImage {
        width: 60px;
        height: 60px
    }
}