.container {
    width: 100%
}

.tabWrapper {

}

.nav {
    list-style-type: none;
    overflow: scroll;
    white-space: nowrap;
    border-bottom: solid 2px #FFFFFF;
    padding: 0
}

.nav::-webkit-scrollbar {
    display: none;
}

.nav li {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;

}

@media (min-width: 992px) {
    .nav li {
        font-size: 20px;
    }
}

.nav li:hover {
    background: rgba(255, 255 ,255, 9%);
}

.activeNavElement {
    background: rgba(255, 255, 255, 9%);
}

.mainTitle, .currentPageTitle {

}

.mainTitle {

}

.currentPageTitle {
    font-size: 30px;
}

@media (max-width: 1500px) {
}