.container {
    width: 100%
}

.tabWrapper {
    background: #4F2A59;

}

.nav {
    list-style-type: none;
    overflow: scroll;
    white-space: nowrap;
}

.nav li {
    display: inline-block;
}

.navElement:hover {

}

.activeNavElement {

}

.mainTitle, .currentPageTitle {

}

.mainTitle {

}

.currentPageTitle {
    font-size: 30px;
}

@media (max-width: 1500px) {
}