.navbarElement {
    background: linear-gradient(to right, #C5416F, #6D49A7) !important;
}

.thunderboostBrand {
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'HKModular-Bold', sans-serif !important;
    color: #FFFFFF;
    text-shadow: -1px -1px #D707F1, 1px 1px #8DF3E8;
}

.thunderboostBrand:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.toggler {
    border: none;
    padding: 0 !important;
    margin-left: 10px;
    color: transparent;
}

.menu {
    background: #C5416F
}

.menuTitle {
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    font-size: 25px !important;
}

.navLinks > a {
    font-family: "Nunito", sans-serif;
    color: #FFFFFF !important;
}

.iconButton {
    height: 40px !important;
    margin-left: 10px;
    outline: none;
    border: none;
    background: transparent;
    border-radius: 25px;
}

.productCartOffcanvas {
    color: #FFFFFF;
    background: black;
}

.userModal {
    background: transparent;
    overflow: hidden !important;
}
.userModalPosition {
    margin-top: 75px !important;
    margin-right: 10px !important;
}

.searchModal {
    background: #3C306D;
    padding: 10px 10px;
}



@media (min-width: 1200px) {
    .navLinks {
        gap: 20px !important;
    }
}