#discountInformation {
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.buttonGroup {
    grid-row: 7 / 7;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: right;
    gap: 10px
}