.formContainer {
    width: 100%;
    gap: 20px;
    border: solid #8DF3E8 2px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 60px;
    border-top: none
}

.formContainer > button {
    margin-top: 10px
}

.userBenefitsContainer {
    background-color: #3C306D;
    width: 100%;
    padding: 15px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 30px;
    display: grid;
    grid-gap: 15px
}

.userBenefitsContainer > li {
    display: grid;
    grid-template-columns: 35px auto;
}

.formGroupTerms {
    display: flex;
    align-items: center;
    gap: 20px
}

.errorText {
    height: 50px;
    background-color: #9305A7;
    color: white;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.faExclamation {
    margin-right: 10px;
}

@media (min-width: 904px) {
    .formContainer {
        width: 100%;
    }
}

@media (min-width: 1164px) {

    .formContainer {
        width: 536px;
        border-top: solid 2px #8DF3E8;
        border-radius: 6px;
    }
}

@media (max-width: 454px) {
    .formContainer {
        padding: 5%
    }
}